{% extends "h_split.html.twig" %}

{% block title %}Nieobecność - akcja{% endblock %}

{% block head %}
    {% if back is defined %}
        <a href="{{ path("inferior_absence") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
    {% endif %}
{% endblock %}

{% block rest %}
    {% if  message is not empty %}
        <div class="alert {{ alertClass }}" role="alert">{{ message|nl2br }}</div>
    {% else %}
        {%  if form is not empty %}
            {{ form(form) }}
        {% endif %}
    {% endif %}
{% endblock %}