{% extends "h_split.html.twig" %}

{% block title %}Lista podwładnych{% endblock %}

{% block head %}
    <a href="{{ path("superior_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}
{% block rest %}
    {%  if i is not empty %}
        <table class="table table-hover w-75 mx-auto">
            <thead class="thead-light">
            <tr>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>Data urodzenia</th>
                <th>Pesel</th>
            </tr>
            </thead>
            <tbody>
            {% for inf in i %}
            <tr>
                <td>{{ inf.surname }}</td>
                <td>{{ inf.name }}</td>
                <td>{{ inf.birthdate|date('Y-m-d') }}</td>
                <td>{{ inf.pesel }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}

    {% endif %}
{% endblock %}