{% extends "h_split.html.twig" %}

{% block title %}Limity urlopów{% endblock %}

{% block head %}
    <a href="{{ path("superior_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}
{% block rest %}

{% endblock %}