{% extends "h_split.html.twig" %}

{% block title %}Wnioski urlopowe{% endblock %}

{% block head %}
    <a href="{{ path("superior_panel") }}"><input type="button" class="btn btn-primary float-left" value="Powrót"></a>
    {{ form(form) }}
{% endblock %}

{% block rest %}
    {% if a is not empty %}
        <table class="table table-hover">
            <thead class="thead-light">
            <th class="text-center align-middle">Użytkownik</th>
            <th class="text-center align-middle">Typ</th>
            <th class="text-center align-middle">Data złożenia</th>
            <th class="text-center align-middle">Od</th>
            <th class="text-center align-middle">Do</th>
            <th class="text-center align-middle">Dni</th>
            <th class="text-center align-middle">Status</th>
            <th class="text-center align-middle">Data zmiany statusu</th>
            <th class="text-center align-middle w-25">Uwagi</th>
            <th class="text-center align-middle">Akcja</th>
            </thead>
            <tbody>
            {% for ab in a %}
                <tr>
                    <td>{{ ab.user.surname }} {{ ab.user.name }}</td>
                    <td>{{ ab.type.description }}</td>
                    <td class="text-center align-middle">{{ ab.createDate | date('Y-m-d H:i') }}</td>
                    <td class="text-center align-middle">{{ ab.fromDate | date('Y-m-d') }}</td>
                    <td class="text-center align-middle">{{ ab.toDate | date('Y-m-d') }}</td>
                    <td class="text-center align-middle">{{ ab.days }}</td>
                    <td class="text-center  align-middle {{ statusStyle(ab.status.name) }}">{{ ab.status.description }}</td>
                    <td class="text-center align-middle">
                        {% if ab.statusChangeDate is not empty %}
                            {{ ab.statusChangeDate | date('Y-m-d H:i') }}
                        {%  else %}---
                        {% endif %}
                    </td>
                    <td class="text-center align-middle">
                        {% if ab.rejectedReason is not empty %}
                            {{ ab.rejectedReason }}
                        {%  else %}---
                        {% endif %}
                    </td>
                    <td class="text-center align-middle">
                        {% if ab.status.name == 'pending' %}
                            <a href="{{ path("superior_accept_action", {'id' : ab.id}) }}"><input type="button" class="btn btn-success" value="Akceptuj"></a>
                            <a href="{{ path("superior_reject_action", {'id' : ab.id})  }}"><input type="button" class="btn btn-danger" value="Odrzuć"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Brak wniosków dla wybranych kryteriów</div>
    {% endif %}
{% endblock %}
