{% extends "h_split.html.twig" %}

{% block title %}Limity nieobecności{% endblock %}

{% block head %}
    <a href="{{ path("user_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}

{%  block rest %}
    {% if absenceDict is empty %}
        <div class="alert alert-danger">Słownik nieobecności jest pusty, skontaktuj się z administratorem</div>
    {% else %}
        {% if absenceLimit is not empty %}
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th></th>
                        {% for absence in absenceDict %}
                            <th colspan="5" class="text-center">{{ absence.description }}</th>
                        {%  endfor %}
                    </tr>
                    <tr>
                        <th class="text-center">Rok</th>
                        {% for absence in absenceDict %}
                            <th class="text-center">Limit [dni]</th>
                            <th class="text-center" style="cursor: help" title="Suma dni z wniosków zaakceptowanych przez przełożonego">Wykorzystano [dni]</th>
                            <th class="text-center" style="cursor: help" title="Suma dni z wniosków oczekujących na akceptację przełożonego">Oczekuje [dni]</th>
                            <th class="text-center" style="cursor: help" title="Suma dni z wniosków oczekujących oraz zaakceptowanych">Łącznie [dni]</th>
                            <th class="text-center">Pozostało [dni]</th>
                        {%  endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for year, alData in absenceLimit %}
                        <tr>
                            <td class="text-center">
                                {{ year }}
                            </td>
                            {% for absence in absenceDict %}
                                {% if alData[absence.id] is not empty %}
                                    <td class="text-center">{{ alData[absence.id] }}</td>
                                {% else %}
                                    <td>brak</td>
                                {%  endif %}
                                <td class="text-center">
                                    {% if absenceDays['accepted'][year][absence.id] is defined %}
                                        {{ absenceDays['accepted'][year][absence.id] }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if absenceDays['pending'][year][absence.id] is defined %}
                                        {{ absenceDays['pending'][year][absence.id] }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if absenceDays['all'][year][absence.id] is defined %}
                                        {{ absenceDays['all'][year][absence.id] }}
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if absenceDays['allSum'][year][absence.id] is defined %}
                                        {% set result = alData[absence.id] - absenceDays['allSum'][year][absence.id] %}
                                        {{ result }}
                                    {% else %}
                                        {{ alData[absence.id] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr class="bg-primary text-white">
                        <td class="text-right ">Suma:</td>
                        {% for absence in absenceDict %}
                            <td class="text-center">{{ absenceLimitSum[absence.id] }}</td>
                            <td class="text-center">
                                {% if absenceDays['acceptedSum'][absence.id] is defined %}
                                    {{ absenceDays['acceptedSum'][absence.id] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if absenceDays['pendingSum'][absence.id] is defined %}
                                    {{ absenceDays['pendingSum'][absence.id] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if absenceDays['allSum'][absence.id] is defined %}
                                    {{ absenceDays['allSum'][absence.id] }}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td class="text-center">
                                {% if absenceDays['allSum'][absence.id] is defined %}
                                    {% set result = absenceLimitSum[absence.id] - absenceDays['allSum'][absence.id] %}
                                    {{ result }}
                                {% else %}
                                    {{ absenceLimitSum[absence.id] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger">Brak ustawionych limitów nieobecności, skontaktuj się z administratorem</div>
        {% endif %}
    {% endif %}
{% endblock %}