<br>
<table style="border-collapse: collapse">
    <thead>
        <tr>
            <th colspan="6" style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">
                <h3>Nowy wniosek urlopowy</h3>
            </th>
        </tr>
        <tr>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Pracownik</th>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Typ urlopu</th>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Od</th>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Do</th>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Ilosć dni</th>
            <th style="border: 1px solid silver; padding: 1em; background: #337ab7; color:white;">Limit do wykożystnia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid silver; padding: 1em;">{{ u.surname }} {{ u.name }}</td>
            <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ a.type.description }}</td>
            <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ a.fromDate|date("d-m-Y") }}</td>
            <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ a.toDate|date("d-m-Y") }}</td>
            <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ a.days }}</td>
            <td style="border: 1px solid silver; padding: 1em; text-align: center">{{ daysLeft }}</td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid silver; padding: 1em; text-align: center">
                <a style="color: green;" href="{{ aLink }}"><h3>AKCEPTUJ</h3></a>
            </td>
            <td colspan="3" style="border: 1px solid silver; padding: 1em; text-align: center">
                <a style="color: red" href="{{ rLink }}"><h3>ODRZUĆ</h3></a>
            </td>
        </tr>
    </tbody>
</table>
<br>
<p>Wiadomość wygenerowano automatycznie</p>