{% extends "h_split.html.twig" %}

{% block title %}Nowy wniosek{% endblock %}

{% block head %}
    <a href="{{ path("user_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}

{% block rest %}
    <div class="card w-75 mx-auto">
        <div class="card-header">Nowy wniosek</div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
