{% extends "base.html.twig" %}

{% block title %}Panel użytkownika{% endblock %}

{% block body %}
<div class="w-75 mx-auto">
        <div class="card float-left" style="width: 15rem;">
            <a class="text-center" href="{{ path('user_profile') }}">
                <img class="card-img-top w-50 h-50 mt-4" src="{{ asset('build/images/user_profile.png') }}" alt="Obrazek panelu">
                <div class="card-body">
                    <div class="card-title">Profil</div>
                </div>
            </a>
            <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;">
                Hasło wygasa {{ passwordExpryDate| expireDate }}
            </div>
        </div>

        <div class="card float-left ml-5" style="width: 15rem;">
            <a class="text-center" href="{{ path('my_absence') }}">
                <img class="card-img-top w-50 h-50 mx-auto mt-4" src="{{ asset('build/images/checklist.png') }}" alt="Obrazek moje wnioski">
                <div class="card-body">
                    <div class="card-title text-center">Moje wnioski</div>
                </div>
            </a>
            <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;">
                Wniosków oczekujących na potwierdzenie: {{ pendingCount }}
            </div>
        </div>
        <div class="card float-left ml-5" style="width: 15rem;">
            <a class="text-center" href="{{ path('absence_limit') }}">
            <img class="card-img-top w-50 h-50 mt-4" src="{{ asset('build/images/absence_limits.png') }}" alt="Obrazek limitów nieobecności">
            <div class="card-body">
                <div class="card-title">Limity nieobecności</div>
            </div>
            </a>
            <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;"></div>
        </div>
        <div class="card float-left ml-5" style="width: 15rem;">
            <a class="text-center" href="{{ path('new_absence') }}">
            <img class="card-img-top w-50 h-50 mt-4" src="{{ asset('build/images/write.png') }}" alt="Obrazek nowy wniosek">
            <div class="card-body">
                <div class="card-title">Nowy wniosek</div>
            </div>
            </a>
            <div class="card-footer text-center" style="text-decoration: none; color: dimgrey; height: 5rem;"></div>
        </div>
</div>

{% endblock %}