{% extends "t_spilt.html.twig" %}

{% block title %}Słownik nieobecności{% endblock %}

{% block head %}
    <a href="{{ path("admin_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}

{% block left_block %}
    <div class="card">
        <div  class="card-header text-center">
            Lista typów nieobecności
        </div>
        <div class="card-body">
            {%  if absenceDict is not empty %}
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Nazwa</th>
                            <th class="text-center">Czy ma posiadać limit?</th>
                            <th class="text-center">Akcja</th>
                        </tr>
                    </thead>
                {% for absence in absenceDict %}
                    <tr>
                        <td>{{ absence.description }}</td>
                        <td class="text-center">{{ absence.limitable ? 'Tak':'Nie' }}</td>
                        <td>
                            <a href="{{ path('absence_dict_edit', {'id' : absence.id}) }}"><input type="button" value="Edytuj" class="btn btn-primary"></a>
                            <a href="{{ path('absence_dict_delete', {'id' : absence.id}) }}"><input type="button" value="Usuń" class="btn btn-danger"></a>
                        </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <div class="panel panel-danger">
                    <div class="card-header">
                        Brak nieobecności w słowniku
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{%  endblock %}

{%  block right_block %}
    <div class="card">
        <div  class="card-header text-center">
            Dodaj nowy typ nieobecności
        </div>
        <div class="card-body">
            {% form_theme absenceAddForm 'bootstrap_3_layout.html.twig' %}
            {{ form(absenceAddForm) }}
        </div>
    </div>
{%  endblock %}