{% extends "h_split.html.twig" %}

{% block title %}Limity urlopów{% endblock %}

{% block head %}
    <a href="{{ path("admin_panel") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
    <div class="card" style="margin-top: 1em;">
        <div class="card-header">
            Filtr
        </div>
        <div class="card-body">
            {{ form_start(filterForm) }}
            {{ form_widget(filterForm) }}
            <div class="text-center"><input type="submit" class="btn btn-success" value="Pokaż dane"></div>
            {{ form_end(filterForm) }}
        </div>
    </div>

{% endblock %}

{% block rest %}
    {% if superiorCollection is not empty %}
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="bg-primary">
                <th rowspan="2" class="text-center align-middle">Użytkownik</th>
                <th colspan="{{ absenceDictCount }}" class="text-center">Limity urlopów</th>
            </tr>
            <tr class="bg-primary">
                {% for absenceType in absenceDict %}
                    <th class="text-center">{{ absenceType.description }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for superior in superiorCollection %}
                <tr style="background: #FEFFF2">
                    <td>{{ superior.surname }} {{ superior.name }}</td>
                    <td></td>
                </tr>
                {% if superior.getInferior() is not empty %}
                    {% for  user in superior.getInferior() %}
                        <tr style="background: #F2FFF4">
                            <td style="text-indent: 3em">{{ user.surname }} {{ user.name }}</td>
                            {% for absenceType in absenceDict %}
                                {% if absenceLimit[user.id][absenceType.id] is defined %}
                                    <td class="text-center">Limit: {{ absenceLimit[user.id][absenceType.id] }}</td>
                                {% else %}
                                    <td class="text-center">
                                        Brak limitu
                                        <a href="{{ path("absence_limits_set", {'year' :  year, 'type' : absenceType.id, 'userId': user.id}) }}"><input type="button" class="btn btn-success" value="Ustaw"></a>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="8" class="text-center">Brak podwładnych</td></tr>
                {%  endif %}

            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Baza danych nie zawiera żadnych użytkowników</div>
    {% endif %}
{% endblock %}