{% extends "h_split.html.twig" %}

{% block title %}Edycja nieobecności{% endblock %}

{% block head %}
    <a href="{{ path("absence_dict") }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
{% endblock %}

{% block rest %}
    <div class="card">
    <div  class="card-header text-center">
        Edycja nieobecności '{{ absence.description }}'
    </div>
    <div class="card-body">
        {{ form(form) }}
    </div>
{% endblock %}