{% extends "base.html.twig" %}

{% block title %}Panel administracyjny{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('absence_dict') }}">Słownik typów nieobecności</a></li>
        <li><a href="{{ path('user_list') }}">Hierarchia pracowników</a></li>
        <li><a href="{{ path('absence_limits', {'year' : absenceLimitsYear, }) }}">Limity absencji</a></li>
    </ul>
{% endblock %}