<h3>Zarejestrowano nowe konto w serwisie</h3>

<p>Witaj, zostało dla Ciebie stworzone konto w serwisie 'Urlopy'</p>
<p>Twój login to: {{ userName }}</p>
<p>Twoje hasło tymczasowe to: {{ temporaryPassword }}</p>
<p>Aby się zalogować kliknij na <a href="{{ url('login') }}">link</a>.</p>
<br>
<p>Wiadomość wygenerowana automatycznie.</p>
<br>
<p>
    Pozdwawiamy,
    Administratorzy
</p>