{% extends "h_split.html.twig" %}

{% block title %}Lista pracowników{% endblock %}

{% block head %}
    <a href="{{ path("admin_panel") }}"><input type="button" class="btn btn-primary" value="Powrót do panelu administracyjnego"></a>
    <a href="{{ path("superior_add", {'type' : 'superior'}) }}"><input type="button" class="btn btn-warning" value="Dodaj przełożonego"></a>
{% endblock %}

{% block rest %}
    {% if superiorCollection is not empty %}
        <table class="table table-hover table-responsive">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">Nazwa użytkownika</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Data urodzenia</th>
                    <th scope="col">Numer PESEL</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Hasło wygasa</th>
                    <th scope="col" class="text-center">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for superior in superiorCollection %}
                        <tr style="background: #FEFFF2">
                            <td>{{ superior.username }}</td>
                            <td>{{ superior.surname }}</td>
                            <td>{{ superior.name }}</td>
                            <td>{{ superior.birthdate | date('Y-m-d') }}</td>
                            <td>{{ superior.pesel }}</td>
                            <td>{{ superior.email }}</td>
                            <td>{{ superior.passwordExpiryDate | expireDate }}</td>
                            <td>
                                <a href="{{ path('user_add', {'type' : 'user', 'superiorId' : superior.getId()}) }}"><input type="button" value="Dodaj podwładnego" class="btn btn-success"></a>
                                <a href="{{ path('user_edit', {'id' : superior.getId()}) }}"><input type="button" value="Edytuj" class="btn btn-primary"></a>
                                {% if superior.getInferior() is empty %}
                                    <a href="{{ path('user_delete', {'id' : superior.getId()}) }}"><input type="button" value="Usuń" class="btn btn-danger"></a>
                                {%  endif %}
                            </td>
                        </tr>
                        {% if superior.getInferior() is not empty %}
                            {% for  user in superior.getInferior() %}
                                <tr style="background: #F2FFF4">
                                    <td style="text-indent: 3em">{{ user.getUsername() }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.birthdate | date('Y-m-d') }}</td>
                                    <td>{{ user.pesel }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.passwordExpiryDate | expireDate }}</td>
                                    <td>
                                        <a href="{{ path('user_edit', {'id' : user.id }) }}"><input type="button" value="Edytuj" class="btn btn-primary"></a>
                                        <a href="{{ path('user_delete', {'id' : user.id }) }}"><input type="button" value="Usuń" class="btn btn-danger"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="8" class="text-center">Brak podwładnych</td></tr>
                        {%  endif %}

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Baza danych nie zawiera żadnych użytkowników</div>
    {% endif %}
{% endblock %}