{% extends "h_split.html.twig" %}

{% block title %}Dodaj użytkownika{% endblock %}

{% block head %}
    <a href="{{ path("user_list") }}"><input type="button" class="btn btn-primary" value="Powrót do listy użytkowników"></a>
{% endblock %}

{% block rest %}
    <div class="row">
        <div class="col">
            <div class="card w-75 mx-auto">
                <div class="card-header">
                    Formularz rejestracji nowego {{ formDetails['headerName'] }} {% if(formDetails['headerAdditional'] is not empty) %}{{ formDetails['headerAdditional'] }}{% endif %}
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Dodaj użytkownika">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}