<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"><img class="mr-2" src="{{ asset('build/images/logout.png') }}">Wyloguj</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_panel') }}">Panel administracyjny</a>
                        </li>
                    {% endif %}

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Zaloguj się</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <main role="main" class="container-fluid pl-5 pr-5" style="margin-top: 3em;">
            {% for message in app.flashes('notice') %}<div class="alert alert-notice w-75 mx-auto" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('warning') %}<div class="alert alert-warning w-75 mx-auto" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('error') %}<div class="alert alert-danger w-75 mx-auto" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% for message in app.flashes('success') %}<div class="alert alert-success w-75 mx-auto" role="alert">{{ message|nl2br }}</div>{% endfor %}
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="{{ asset('build/app.js') }}"></script>
            {% endblock %}
        </main>
    </body>
</html>
