{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    {% block head %}
        <a href="{{ app.request.headers.get('referer') }}"><input type="button" class="btn btn-primary" value="Powrót"></a>
    {% endblock %}
    <hr>
    {% block rest %}{% endblock %}
{% endblock %}