{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% block head %}{% endblock %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6" >
            {%  block left_block %}{%  endblock %}
        </div>
        <div class="col-md-6">
            {% block right_block %}{%  endblock %}
        </div>
    </div>

{% endblock %}